.app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  height: 100vh;

}


.form{
    width: 65vw !important;
    border-radius: 20px;
    padding: 20px;
  box-shadow: 0px 0px 20px rgb(93, 93, 93);

}